
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}
    <div class="userBoard">
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.username }}</p>
    </div>
    <div class="profileActions">
        <span><button onclick="location.href='/add_photo'">Dodaj zdjęcie</button></span>
        <span><button onclick="location.href='/add_post'">Dodaj post</button></span>
    </div>

    <div class="profileContent">
        <button id='hidePostsBtn' class="hide-btn">Ukryj posty</button>
        {% for item in content_post %}
            <div class="singlePost">
                <div class="postContent"> {{ item.content }}</div>
                <div class="datePost">{{ item.date_add|date:'d.m.Y H:i' }}</div>
            </div>
        {% endfor %}

        <button id='hidePhotosBtn' class="hide-btn">Ukryj zdjęcia</button>
        {% for item in content_photo %}
            <div id='hidePhotos' class="singlePhoto">
                <div class="photoContent"><img src="{{ item.photo.url }}"></div>
                <div class="datePost">{{ item.date_add}}</div><br>
                <div class="photoDescription">{{ item.description }}</div>
            </div>
        {% endfor %}

    </div>
     <script src={% static 'profileView.js' %}></script>
{% endblock %}