{% extends 'base.html' %}
{% load static %}
{% block title %}Grupy{% endblock %}
{% block content %}
    <div class="error">{{ error }}</div>
    <div class="groupActions">
        <button onclick="location.href='{% url 'create-group' %}'">Utwórz grupę</button>
    </div>
    <ul>
        {% for group in object_list %}
            <li class="singleGroup">
                <div class="groupName">
                    <a href="{% url 'group-details' group.slug %}">{{ group.name }}</a>
                    {% if group in request.user.groupe_set.all %}
                        <p>Jesteś członkiem tej grupy</p>
                    {% elif group in request.user.groups_to_join.all %}
                        <p>Oczekujesz na akceptację dołączenia do grupy przez jej moderatora</p>
                    {% else %}
                        <button onclick="location.href='{% url 'group-append' group.slug %}'">Dołącz</button>
                    {% endif %}
                </div>
                <div class="hide">
                    <p class="categoryPath">{{ group.get_categories_list }}</p>
                </div>
            </li>
        {% endfor %}

    </ul>
    <script src={% static 'groupView.js' %}></script>
{% endblock %}