{% extends 'base.html' %}
{% load static %}
{% block title %}Grupy{% endblock %}
{% block content %}
    <div class="error">{{ error }}</div>
    <div class="groupActions">
            <button onclick="location.href='{% url 'create-group' %}'">Utwórz grupę</button>
        </div>
    <ul>
        {% for group in object_list %}
            <li class="singleGroup">
                <div class="groupName">
                    <a href="{% url 'group-details' group.slug %}">{{ group.name }}</a>
                    <button onclick="location.href='{% url 'group-append' group.slug %}'">Dołącz</button>
                </div>
                <div class="hide">
                        <p class="categoryPath">{{ group.get_categories_list }}</p>
                </div>
            </li>
        {% endfor %}

    </ul>
    <script src={% static 'groupView.js' %}></script>
{% endblock %}