{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <div class="error">{{ error }}</div>
    <h2 class="pageTitle">Grupa {{ object.name }}</h2>
    <p>Liczba członków: {{ object.users.count }}</p>
    <div class="groupAction">
        <span class="addContentSpan">
            <button onclick="location.href='{% url 'group-post' object.slug %}'">Dodaj post</button>
        </span>
    </div>
    <div class="groupContent">
        <button id='hidePostsBtn' class="hide-btn">Ukryj posty</button>
        {% for item in object.post_set.all %}
            <div class="singlePost">
                <div class="postContent">
                    <div>{{ item.content }}</div>
                    <p class="commentCreator"><a class="commentCreator"
                                                 href="{% url 'user-profile' item.user.username %}">{{ item.user.username }}</a>
                    </p>
                </div>
                <div class="comments">
                    {% for comm in item.comment_set.all %}
                        <p class="commentContent">{{ comm.content }}</p>
                        <p class="commentCreator"><a class="commentCreator"
                                                     href="{% url 'user-profile' comm.user.username %}">{{ comm.user.username }}</a>
                        </p>
                    {% endfor %}
                    <button onclick="location.href='{% url 'comment-post' item.id %}'">Dodaj komentarz</button>
                </div>
                <div class="datePost">{{ item.date_add|date:'d.m.Y H:i' }}</div>
            </div>

        {% endfor %}

{% endblock %}