{% extends 'base.html' %}
{% load static %}
{% block title %}Wiadomości{% endblock %}
{% block content %}
    <div class="error">{{ error }}</div>
    <ul>
        {% for user in object_list %}
            {% if user != request.user %}
                <li class="singleUser">
                    <a href="{% url 'messages-with-user' user.username %}">{{ user.username }}</a>
                    {% if user.unseen > 0 %}
                        <span class="unseenMessages"> {{ user.unseen }} </span>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <script src={% static 'messages_list.js' %}></script>
{% endblock %}