
body::after {
    content: "";
    background: url("DSCN7814.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.content {
    background: #e2e2e2;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    border: 3px solid darkred;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

#registrationForm label {
    margin: 10px;
    width: 90%;
}

#registrationForm input {
    margin: 10px;
    width: 90%;
}

#loginForm p {
    display: flex;
    justify-content: space-between;
}

#loginForm label {
    margin: 10px;
    width: 30%;
}

#loginForm input {
    margin: 10px;
    width: 60%;
}

#login-btn {
    width: 70px;
    background: indianred;
    border: #db5050 5px solid;
    border-radius: 2px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
    background: rgb(43, 43, 43);
}

.navigation div {
    padding-left: 60px;
    border: 2px darkred solid;
    color: white;
}

.navigation a {
    color: inherit;
    text-decoration: none;
}

.landingButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.landingButtons button {
    background: #db5050;
    width: 80%;
    height: 40%;
    font-size: 40px;
}

.userBoard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: #727070 solid 1px;
    border-radius: 5px;
}

.addContentForm p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singlePost {
    display: flex;
    justify-content: space-between;
}

.singlePost .postContent {
    margin: 20px;
    width: 60%;
    overflow: scroll;
}
.profileContent{
    display: flex;
    flex-direction: column;
}
.hide-btn{
    margin-top: 40px;
    background: indianred;
    border: #db5050 5px solid;
    border-radius: 2px;
}

.photoContent img{
    width: 50%;
    height: auto;
}

.hide{
    display: none;
}