.content {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

body::after {
    content: "";
    background: url("DSCN7814.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


#registrationForm input {
    margin: 10px;
  width:90%;
}
