
body::after {
    content: "";
    background: url("DSCN7814.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.content {
    background: #e2e2e2;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    min-height: 80%;
    border: 3px solid darkred;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

#registrationForm label {
    margin: 10px;
    width: 90%;
}

#registrationForm input {
    margin: 10px;
    width: 90%;
}

#loginForm p {
    display: flex;
    justify-content: space-between;
}

#loginForm label {
    margin: 10px;
    width: 30%;
}

#loginForm input {
    margin: 10px;
    width: 60%;
}

#login-btn {
    width: 70px;
    background: indianred;
    border: #db5050 5px solid;
    border-radius: 2px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
    background: rgb(43, 43, 43);
}

.navigation div {
    padding-left: 60px;
    border: 2px darkred solid;
    color: white;
}

.navigation a {
    color: inherit;
    text-decoration: none;
}

.landingButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.landingButtons button {
    background: #db5050;
    width: 80%;
    height: 40%;
    font-size: 40px;
}

.userBoard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: #727070 solid 1px;
    border-radius: 5px;
}

.addContentForm p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singlePost, .singlePhoto {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border: #aaaaaa 1px solid;
    border-radius: 10px;
    padding: 3px;
}

.singlePost .postContent {
    margin: 20px;
    width: 50%;
    overflow: auto;
}

.singlePost .comments{
    margin: 20px;
    width: 30%;
    max-height: 200px;
    overflow: auto;
}

.profileContent .groupContent{
    display: flex;
    flex-direction: column;
}


.photoContent img{
    width: 50%;
    height: auto;
}

.hide{
    display: none;
}

.fullscreen-mode {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.fullscreen-mode img {
    max-width:100%;
    margin:0 auto;
    display:block;
}

.profileActions {
    display: flex;
    justify-content: space-between;
}

.singleGroup {
    margin: 5px;
}

.editContentSpan button, .addContentSpan button, .hide-btn{
    margin-top: 20px;
    padding: 3px;
    color: #e2e2e2;
    background: indianred;
    border: #db5050 5px solid;
    border-radius: 2px;
}

.commentCreator{
    font-size: 13px;
    color: #5f5f5f;
    margin-top: 0px;
    padding-top: 0px;
}
.commentContent{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.groupName{
    display: flex;
    justify-content: space-between;
}

button {
    background: #db5050;
    border: #db5050 5px solid;
    border-radius: 2px;
    color: #e2e2e2;
}

.pageTitle{
    text-align: center;
}

.boardContent{
    margin: 0px;
}

#registrationForm{
    display: flex;
    flex-direction: column;
}